<div class="banner" id="home">
  <%= render 'shared/navbar' %>
  <div class="bloc">
    <h1> <strong>Camille</strong> & <strong>Charles</strong></h1>
    <h3>le 22 mai 2020</h3>
    <%= link_to 'Je viens !', pages_form_path, :class => "btn btn-outline-dark btn-perso" %>
  </div>
</div>