<div class="banner">
  <div class="container">
    <h1> <strong>Camille</strong> & <strong>Charles</strong> se marient ! (enfin)</h1>
    <p>Il était temps</p>
    <button type="button" class="btn btn-success">En voir plus</button>
  </div>
</div>
  