<div id="list-example" class="list-group">

  <div class="btn-group-vertical" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" href="#list-item-1"><i class="far fa-circle"></i><a class=" p-2 bd-highlight" href="#list-item-1">Flex item 2</a></button>
    <button type="button" class="btn btn-secondary" href="#list-item-1"><i class="far fa-circle"></i><a class=" p-2 bd-highlight" href="#list-item-1">Flex item 2</a></button>
    <button type="button" class="btn btn-secondary" href="#list-item-1"><i class="far fa-circle"></i><a class=" p-2 bd-highlight" href="#list-item-1">Flex item 2</a></button>
  </div>
</div>