.navbar-lewagon {
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 10px;
  width: 100%;
  align-content: center;
  font-family: montserrat;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
